#Python 3.10.7
PyMySQL==1.0.2
peewee==3.15.3
peewee_async==0.8.0
tortoise-orm==0.19.2
watchdog==2.1.9
pyjwt==2.6.0
sanic_jwt==1.8.0
sanic_openapi==21.12.0
confluent-kafka==1.9.2
grpcio==1.50.0
grpcio-tools==1.50.0
protobuf==4.21.9
sanic==22.9.0
sanic-ext==22.9.0
aiosqlite==0.17.0
